<div class="login-container">
  <div class="logo-outside-card">
    <img src="https://framework-gb.cdn.gob.mx/gobmx/img/logo_blanco.svg" alt="Gobierno de México" >
    <h1>PENSIONISSSTE</h1>
    <div class="login-card">
      <div class="logo-section">
        <h2>Sistema de Monitoreo</h2>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="field">
        <label for="username">Usuario</label>
        <input
          pInputText
          id="username"
          formControlName="username"
          placeholder="email@example.com"
          class="w-full"
          [class.ng-invalid]="loginForm.get('username')?.invalid && loginForm.get('username')?.touched"
          [class.ng-valid]="loginForm.get('username')?.valid && loginForm.get('username')?.touched"
        />
        <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" class="field-error">
          <small *ngIf="loginForm.get('username')?.errors?.['required']">El usuario es requerido</small>
          <small *ngIf="loginForm.get('username')?.errors?.['email']">Ingrese un email válido</small>
        </div>
      </div>
   <div class="field">
  <label for="password">Password</label>

  <div class="password-field">
    <input
      pInputText
      [type]="showPassword ? 'text' : 'password'"
      id="password"
      formControlName="password"
      placeholder="Password"
      class="w-full"
      [class.ng-invalid]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
      [class.ng-valid]="loginForm.get('password')?.valid && loginForm.get('password')?.touched"
    />

    <i
      class="pi password-toggle"
      [ngClass]="showPassword ? 'pi-eye-slash' : 'pi-eye'"
      (click)="togglePassword()"
      aria-label="Toggle password visibility"
    ></i>
  </div>
  <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="field-error">
    <small *ngIf="loginForm.get('password')?.errors?.['required']">La contraseña es requerida</small>
    <small *ngIf="loginForm.get('password')?.errors?.['minlength']">La contraseña debe tener al menos 6 caracteres</small>
  </div>
</div>
    <div class="btn-container">
  <p-button
    type="submit"
    label="Ingresar"
    [loading]="loading"
    [disabled]="loginForm.invalid"
    aria-label="Iniciar sesión"
  ></p-button>
</div>
      <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
    </form>
  </div>
</div>